In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**DO SỰ PHỨC TẠP CỦA DỮ LIỆU, VÌ VẬY TA CẦN TIỀN XỬ LÝ DỮ LIỆU TRƯỚC KHI ĐƯA VÀO TRAINING TRƯỚC**

In [ ]:
import pandas as pd
import numpy as np

import requests
from bs4 import BeautifulSoup

**A.DATA CHECKING:**

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/Datasets/Order-Data-Prediction-raw.csv')

**GIẢI THÍCH DỮ LIỆU:**

**1.CUSTOMER_ORDER_ID (Mã Đơn Hàng Khách Hàng):** Mã định danh duy nhất cho mỗi đơn hàng của khách hàng.

**2.SALES_ORG (Tổ Chức Bán Hàng):** Công ty chịu trách nhiệm đang xử lý giao dịch bán hàng.

**3.DISTRIBUTION_CHANNEL (Kênh Phân Phối):** Phương thức hoặc kênh phân phối sản phẩm đến khách hàng.

**4.DIVISION (Bộ Phận):**

**5.RELEASED_CREDIT_VALUE (Giá Trị Tín Dụng Được Phát Hành):** Số tiền tín dụng đã được phê duyệt hoặc phát hành cho đơn hàng này. Điều này để quản lý hạn mức tín dụng và rủi ro tài chính.

**6.PURCHASE_ORDER_TYPE (Loại Đơn Hàng Mua):** Điều này có thể chỉ ra liệu đó là đơn hàng tiêu chuẩn, đơn hàng gấp, đơn hàng trả lại,...

**7.COMPANY_CODE (Mã Công Ty):** Mã định danh duy nhất cho công ty.

**8.ORDER_CREATION_DATE (Ngày Tạo Đơn Hàng):** Theo dõi thời gian xử lý đơn hàng.

**9.ORDER_CREATION_TIME (Thời Gian Tạo Đơn Hàng):** Thời gian chính xác khi đơn hàng được tạo.

**10.CREDIT_CONTROL_AREA (Khu Vực Kiểm Soát Tín Dụng):** Khu vực hoặc vùng chịu trách nhiệm quản lý tín dụng cho đơn hàng này.

**11.SOLD_TO_PARTY (Bên Mua Hàng):** Khách hàng mà đơn hàng được bán cho.

**12.ORDER_AMOUNT (Số Tiền Đơn Hàng):** Tổng giá trị tiền tệ của đơn hàng.

**13.REQUESTED_DELIVERY_DATE (Ngày Yêu Cầu Giao Hàng):** Ngày mà khách hàng yêu cầu giao hàng.

**14.ORDER_CURRENCY (Tiền Tệ Đơn Hàng):** Loại tiền tệ mà số tiền đơn hàng được định giá.

**15.CREDIT_STATUS (Trạng Thái Tín Dụng):** Điều này cho biết liệu đơn hàng đã được phê duyệt, đang chờ xử lý hay bị từ chối dựa trên đánh giá tín dụng. ***OUTPUT***

**16.CUSTOMER_NUMBER (Mã Khách Hàng):** Mã định danh duy nhất cho khách hàng trong hệ thống của công ty.

In [ ]:
data

,CUSTOMER_ORDER_ID,SALES_ORG,DISTRIBUTION_CHANNEL,DIVISION,RELEASED_CREDIT_VALUE,PURCHASE_ORDER_TYPE,COMPANY_CODE,ORDER_CREATION_DATE,ORDER_CREATION_TIME,CREDIT_CONTROL_AREA,SOLD_TO_PARTY,ORDER_AMOUNT,REQUESTED_DELIVERY_DATE,ORDER_CURRENCY,CREDIT_STATUS,CUSTOMER_NUMBER
0,946851639,3537,United States of America,South-Region,"0,00",1000,3220,20220101,43012,SR02,756141537,"954,61",20220113,EUR,NaN,12311807
1,963432061,3449,Martinique,South-Region,"0,00",1000,3220,20220101,43114,NR03,798847812,"787,36",20220111,EUR,NaN,12311807
2,971991639,3238,Moldova,South-Region,"82342,02",I200,3260,20220101,110019,NR01,960984659,"67493,46",20220112,EUR,93.0,12118758
3,754349803,3911,United Arab Emirates,South-Region,"1471,24",N000,3290,20220101,153013,SR02,925857642,"1405,54",20220106,EUR,93.0,1210499770
4,930253442,2381,Greece,South-Region,"0,00",N000,3290,20220101,160020,SR01,947942786,"0,00",20220106,EUR,64.0,1210351400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1101920,853605710,2498,Germany,South-Region,"0,00",NaN,4260,20220601,74357,NR02,946056501,"4415,19",20220601,SGD,NaN,1210331804
1101921,998890898,4509,Armenia,South-Region,"0,00",NaN,4260,20220601,84052,NR04,894775488,"0,00",20220601,SGD,NaN,1210331804
1101922,983330221,3951,Nepal,South-Region,"0,00",NaN,4260,20220601,85322,NR01,909729781,"0,00",20220601,SGD,NaN,1210331811
1101923,926668029,3235,Panama,South-Region,"0,00",NaN,4260,20220601,90538,SR04,940836817,"0,00",20220601,SGD,NaN,1210331811
1101924,921701000,2968,Nicaragua,South-Region,"0,00",NaN,4260,20220601,113357,NR02,754385277,"4415,19",20220601,SGD,NaN,1210331804

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1101925 entries, 0 to 1101924
Data columns (total 16 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   CUSTOMER_ORDER_ID        1101925 non-null  int64
 1   SALES_ORG                1101925 non-null  int64
 2   DISTRIBUTION_CHANNEL     1101925 non-null  object
 3   DIVISION                 1101925 non-null  object
 4   RELEASED_CREDIT_VALUE    1101925 non-null  object
 5   PURCHASE_ORDER_TYPE      1083233 non-null  object
 6   COMPANY_CODE             1101925 non-null  int64
 7   ORDER_CREATION_DATE      1101925 non-null  int64
 8   ORDER_CREATION_TIME      1101925 non-null  int64
 9   CREDIT_CONTROL_AREA      1101925 non-null  object
 10  SOLD_TO_PARTY            1101925 non-null  int64
 11  ORDER_AMOUNT             1101925 non-null  object
 12  REQUESTED_DELIVERY_DATE  1101925 non-null  int64
 13  ORDER_CURRENCY           1101925 non-null  object
 14  CREDIT_STATUS            219478 non-null   float64
 15  CUSTOMER_NUMBER          1101925 non-null  int64
dtypes: float64(1), int64(8), object(7)
memory usage: 134.5+ MB

**B.DATA PREPROCESSING**

***1.Chỉnh sửa 2 cột 'ORDER_CREATION_DATE' và 'REQUESTED_DELIVERY_DATE':***

In [ ]:
#Chuyển 2 cột này sang dạng Datetime
data['ORDER_CREATION_DATE'] = pd.to_datetime(data['ORDER_CREATION_DATE'] , format='%Y%m%d')
data['REQUESTED_DELIVERY_DATE'] = pd.to_datetime(data['REQUESTED_DELIVERY_DATE'], format='%Y%m%d')

In [ ]:
#Kiểm tra xem có bao nhiêu dòng mà trong đó: Ngày tạo đơn hàng xảy ra sau ngày yêu cầu gửi hàng đến. Những dòng này là vô lý.
data[data['ORDER_CREATION_DATE'] > data['REQUESTED_DELIVERY_DATE']].shape[0]

27142

In [ ]:
#Xóa bớt đi
data = data[data['ORDER_CREATION_DATE'] <= data['REQUESTED_DELIVERY_DATE']]

In [ ]:
#Thêm vào cột "Processing days" tính số ngày đơn hàng được giao
data.loc[:, 'Processing days'] = (data['REQUESTED_DELIVERY_DATE'] - data['ORDER_CREATION_DATE']).dt.days

***2.Sửa lại một số lỗi chính tả trong cột 'ORDER AMOUNT':***

In [ ]:
# Lọc và in ra các dòng chứa dấu '-', đây là những cột bị lỗi, cần sửa lại
negative_amount_rows = data[data['ORDER_AMOUNT'].str.contains('-')]
print(negative_amount_rows.shape)

(32, 17)

In [ ]:
#Sửa lại các dòng này bằng cách xóa dấu '-'
data.loc[:, 'ORDER_AMOUNT'] = data['ORDER_AMOUNT'].str.replace('-', '')

In [ ]:
# Lọc và in ra các dòng chứa dấu ',', đây là những cột bị lỗi, cần sửa lại thành dấu '.'
error_amount_rows =data[data['ORDER_AMOUNT'].str.contains(',')]
print(error_amount_rows.shape)

(1073406, 17)

In [ ]:
#Sửa lại các dòng này bằng cách xóa dấu '-'
data.loc[:, 'ORDER_AMOUNT'] = data['ORDER_AMOUNT'].str.replace(',', '.')

***3.Sửa lại một số lỗi chính tả trong cột 'ORDER_CURRENCY':***

In [ ]:
## Lọc và in ra các dòng ORDER_CURRENCY có chứa 'HU1', cần sửa lại thành 'HUI'
error_currency_rows =data[data['ORDER_CURRENCY'].str.contains('HU1')]
print(error_currency_rows.shape)

(1377, 17)

In [ ]:
#Sửa lại các dòng này
data.loc[:, 'ORDER_CURRENCY'] = data['ORDER_CURRENCY'].str.replace('HU1', 'HUI')

In [ ]:
data['ORDER_CURRENCY'].value_counts()

ORDER_CURRENCY
USD    622835
EUR    253196
AUD     64200
CAD     55065
GBP     22028
MYR     13946
PLN     11861
AED      7852
HKD      6198
CHF      5259
RON      4731
SGD      3909
CZK      2178
HUI      1377
NZD        79
BHD        32
SAR        14
QAR        12
KWD         7
SEK         4
Name: count, dtype: int64

***Quy đổi giá tiền sang USD cho cột 'ORDER CURRENCY':***

In [ ]:
def convert_currency(amount, currency):
    if currency == 'USD':
        return amount
    else:
        url = 'https://www.google.com/search?q={} +{} +to +usd '.format(amount, currency)
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        result = soup.find('div', attrs={'class':'BNeawe iBp4i AP7Wnd'}).text
        result = result.split(' ')[0]
        return result

In [ ]:
symbols = [x for x in data['ORDER_CURRENCY'].unique()]

dic = {}
for symbol in symbols:
    try:
        dic[symbol] = convert_currency('1', symbol)
    except:
        print(symbol)

In [ ]:
data = data[~data['ORDER_CURRENCY'].isin(['HUI', 'MYR'])]

In [ ]:
data.loc[:, 'amount_in_usd'] = data.apply(lambda x: float(x['ORDER_AMOUNT']) * float(dic[x['ORDER_CURRENCY']]), axis=1)

***4.Chỉnh sửa cột RELEASED_CREDIT_VALUE***

In [ ]:
# Thay đổi dấu phẩy thành dấu chấm trong cột 'RELEASED_CREDIT_VALUE'
data.loc[:, 'RELEASED_CREDIT_VALUE'] = data['RELEASED_CREDIT_VALUE'].str.replace(',', '.')

***5.Bỏ đi một số cột không cần thiết nữa***

In [ ]:
data=data.drop(columns=['CUSTOMER_ORDER_ID', 'ORDER_AMOUNT', 'ORDER_CURRENCY',
                        'ORDER_CREATION_TIME', 'ORDER_CREATION_DATE', 'REQUESTED_DELIVERY_DATE'])

In [ ]:
data

,SALES_ORG,DISTRIBUTION_CHANNEL,DIVISION,RELEASED_CREDIT_VALUE,PURCHASE_ORDER_TYPE,COMPANY_CODE,CREDIT_CONTROL_AREA,SOLD_TO_PARTY,CREDIT_STATUS,CUSTOMER_NUMBER,Processing days,amount_in_usd
0,3537,United States of America,South-Region,0.00,1000,3220,SR02,756141537,NaN,12311807,12,1021.4327
1,3449,Martinique,South-Region,0.00,1000,3220,NR03,798847812,NaN,12311807,10,842.4752
2,3238,Moldova,South-Region,82342.02,I200,3260,NR01,960984659,93.0,12118758,11,72218.0022
3,3911,United Arab Emirates,South-Region,1471.24,N000,3290,SR02,925857642,93.0,1210499770,5,1503.9278
4,2381,Greece,South-Region,0.00,N000,3290,SR01,947942786,64.0,1210351400,5,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...
1101920,2498,Germany,South-Region,0.00,NaN,4260,NR02,946056501,NaN,1210331804,0,3267.2406
1101921,4509,Armenia,South-Region,0.00,NaN,4260,NR04,894775488,NaN,1210331804,0,0.0000
1101922,3951,Nepal,South-Region,0.00,NaN,4260,NR01,909729781,NaN,1210331811,0,0.0000
1101923,3235,Panama,South-Region,0.00,NaN,4260,SR04,940836817,NaN,1210331811,0,0.0000
1101924,2968,Nicaragua,South-Region,0.00,NaN,4260,NR02,754385277,NaN,1210331804,0,3267.2406

***Tạo thành một bộ dataset mới***

In [ ]:
data.to_csv('Order-Data-Prediction-new.csv', index=False)